@import 'variables'

@keyframes flicker
  from
    opacity: 0.50
  to
    opacity: 0.65

@keyframes heating
  from
    opacity: 0.57
  to
    opacity: 1

*::-webkit-scrollbar
  width: 4px

  &-track
    background-color: $dark

  &-thumb
    background-color: $gray

  &-thumb:hover
    background-color: $light


.container
  width: 330px
  padding: 20px 15px
  margin: 0 auto
  animation: flicker 100ms 50, heating 1s
  animation-delay: 0s, 5s


@media screen and (min-width: 500px)

  .container
    width: 1140px
    padding: 40px 0 0 0
    margin: 0 auto
    padding-left: calc(100vw - 100%)