@font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/vt323.woff2') format('woff2'),
         url('./assets/fonts/vt323.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'VT323';
}