@import 'variables'

@keyframes flicker
    from
        opacity: 0.85
    to
        opacity: 1

.container
    width: 330px
    padding: 20px 15px
    margin: 0 auto
    animation: flicker 100ms infinite
    &::before

        content: " "
        display: block
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06))
        z-index: 2
        background-size: 100% 4px, 6px 100%
        pointer-events: none

@media screen and (min-width: 500px)

    .container
        width: 1140px
        padding: 40px 0 0 0
        margin: 0 auto
        padding-left: calc(100vw - 100%)
