@font-face
    font-family: 'VT323'
    src: url('./assets/fonts/vt323.woff2') format('woff2'),
    src: url('./assets/fonts/vt323.woff') format('woff')
    font-weight: normal
    font-style: normal

$mobile-font-sm: 18px
$mobile-font-md: 40px
$mobile-font-lg: 70px

$desktop-font-sm: 25px
$desktop-font-md: 70px
$desktop-font-lg: 120px

*
    background-color: #0d0d0d
    font-family: 'VT323'
    color: #f2f2f2
    line-height: 60%

.container--mobile
    width: 330px
