@import '../variables'

.work

    &__header
        font-size: $mobile-font-lg
        margin: $mobile-indent-bottom

.element

    &__title
        font-size: $mobile-font-md
        margin: 0 0 5px

    &__description
        margin: 0 0 5px
        font-size: $mobile-font-sm
        line-height: 80%
        text-align: justify

    &__links
        display: flex
        flex-direction: column
        margin: $mobile-indent-bottom

    &__links > *
        margin: 5px 0 0 0
        color: #f2f2f2

.feature-list

    &__item
        list-style: square

@media screen and (min-width: 500px)

    .work

        &__header
            font-size: $desktop-font-lg
            margin: $desktop-indent-bottom

    .list
        display: flex
        flex-wrap: wrap
        gap: 30px 20px

    .element
        display: flex
        flex-direction: column
        width: 560px
        gap: 0

        &__title
            font-size: $desktop-font-md
            margin: 0 0 20px 0
        &__description
            margin: 0 0 20px
            font-size: $desktop-font-sm
            text-align: justify
        &__links
            margin: 0
            gap: 8px
        &__links > *
            font-size: $desktop-font-sm
            margin: 0

    .links

        &__work:hover
            color: #0d0d0d
            width: fit-content
            background-color: #f2f2f2
            text-decoration-color: #f2f2f2
            transition: 0.3s
