@import '../variables'

.contacts

    &__header
        font-size: $mobile-font-lg
        margin: $mobile-indent-bottom

    &__links
        display: grid
        justify-content: center
        grid-template-columns: repeat(2, 60px)
        grid-gap: 20px

.contact-link
    &__image
        width: 60px

@media screen and (min-width: 500px)

    .contacts

        &__header
            font-size: $desktop-font-lg
            margin: $desktop-indent-bottom

        &__links
            grid-template-columns: repeat(4, 110px)
            grid-gap: 30px

    .contact-link

        &__image
            width: 110px
