@import '../variables'

.contacts

    &__header
        font-size: $mobile-font-lg
        margin: $mobile-indent-bottom

    &__links
        display: grid
        justify-content: center
        grid-template-columns: 60px 60px
        grid-gap: 20px
