@import '../variables'

.hidden
    display: none

.image
    margin: 0 0 33px

    &__main
        width: 330px

.wrapper

    &__blog-item
        height: 200px
        margin: 0 0 20px
        border: 2px solid #f2f2f2

        &--collapsed
            border: 2px solid #f2f2f2
            margin: 0 0 20px

.header
    display: flex
    justify-content: space-between
    align-items: center
    height: 25px
    background-color: #f2f2f2

    &__heading
        display: flex
        padding: 3px 0 5px 10px
        color: #0d0d0d
        font-size: 25px

    &__button
        display: flex
        gap: 5px

.button

    &__collapse, &__expand, &__cross
        width: 21px
        height: 21px
        background-size: 21px 21px
        border: none

        &--big
            width: 27px
            height: 27px
            background-size: 27px 27px
            border: none
            display: none

    &__collapse
        background: url(../assets/images/button-collapse.svg)
        &--big
            background: url(../assets/images/button-collapse-big.svg)

    &__cross
        background: url(../assets/images/button-cross.svg)
        &--big
            background: url(../assets/images/button-cross-big.svg)

    &__expand
        background: url(../assets/images/button-expand.svg)
        &--big
            background: url(../assets/images/button-expand-big.svg)

.body
    display: flex
    flex-direction: column
    gap: 10px
    margin: 10px 8px 10px 8px
    height: 153px

    &__heading
        font-size: $mobile-font-md

    &__text
        font-size: 25px
        text-align: justify

    &__button
        width: 82px
        height: 22px
        background: url(../assets/images/button-small.svg)
        background-size: 82px 22px
        border: none
        margin-left: auto
        margin-top: auto
        &--big
            width: 112px
            height: 36px
            background: url(../assets/images/button-big.svg)
            background-size: 112px 36px
            border: none
            display: none

.blog-item

    &__body
        // display: none ///

@media screen and (min-width: 500px)

    .image

        &__main
            width: 1140px

    .wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap

        &__blog-item
            width: 552px
            height: 340px
            border: 4px solid #f2f2f2

            &--collapsed
                width: 552px
                height: 35px
                border: 4px solid #f2f2f2

    .header
        height: 35px

        &__heading
            padding: 7px 0 7px 10px
            font-size: 35px

    .button

        &__collapse
            display: none
            &--big
                display: block

        &__cross
            display: none
            &--big
                display: block

        &__expand
            display: none
            &--big
                display: block

    .body
        gap: 20px
        height: 283px
        margin: 8px 6px 8px 6px

        &__heading
            font-size: $desktop-font-md

        &__text
            font-size: 40px

        &__button
            display: none

            &--big
                display: block
                margin-left: auto
                margin-top: auto
