@import '../variables'

.skills

    &__header
        font-size: $mobile-font-lg
        margin: $mobile-indent-bottom

.item

    &__image
        width: 80px
        height: 80px
        margin: 0 5px 0 0
        float: left

.text

    &__header
        font-size: $mobile-font-md
        margin: 0 0 5px 0

    &__description
        font-size: $mobile-font-sm
        margin: $mobile-indent-bottom
