@import '../variables'

.work
    &__header
        font-size: $mobile-font-lg
        margin: $mobile-indent-bottom

.item
    &__title
        font-size: $mobile-font-md
        margin: 0 0 5px 0
    &__description
        margin: 0 0 5px 0
    &__links
        display: flex
        flex-direction: column
        margin: $mobile-indent-bottom
    &__links > *
        margin: 5px 0 0 0
        color: #f2f2f2
