@import '../variables'

.hidden
    display: none

.navigation
    display: flex
    justify-content: space-between
    margin: 0 0 20px
    height: 50px

    &__button
        display: flex
        flex-direction: column
        justify-content: center
        cursor: pointer

.logo__image
    width: 50px
    height: 50px
    cursor: pointer

.sidebar

    &__anchor
        display: flex
        gap: 5px

.anchor
    display: flex
    justify-content: flex-end
    margin: $mobile-indent-bottom
    gap: 5px

    &__link
        font-size: $mobile-font-md
        text-decoration: none
        text-transform: uppercase
        color: #f2f2f2

    &__image
        height: 24px
        width: 24px
        cursor: pointer

@media ( min-width: 500px)

    .navigation
        height: 77px
        margin: 0 0 40px

        &__links
            display: flex
            align-items: center
            gap: 20px

        &__button
            display: none

    .anchor
        margin: 0

    .logo__image
        width: 77px
        height: 77px
